body {
   background-color:black;
}
h1  {
   color:white; 
} 
h1 {
   font-size:20px;
}
h1 {
   font-family:ink free;
}
h1 {
   background-color:red;
}
h2  {
   color:white;
}
h2 {
   font-size:16px;
}
h2 {
   font-family:ink free; 
}
h2 {
   background-color:red;
}
h3 {
   color:white; 
}
h3 {
   font-size:16px;
}
h3 {
   font-family:ink free;
}
h3 {
   background-color:red;
}
h4  {
   color:green;
   font-size:16px;
   font-family:ink free;
}
p {
   color:green;
   font-size:12px;
   font-family:ink free;
}
a {
   color:green;
   font-size:12px;
   font-family:ink free;
   }
li {
   color:green;
}

   
