body {
   background-color:black; 
   background-image:url(https://cdn.pixabay.com/photo/2018/03/29/18/39/drops-3273161_1280.jpg);
 }
h1  {
   color:white; 
   font-size:20px;
   font-family:ink free;
   background-color:grey;
}
h2  {
   color:white;
   font-size:16px;
   font-family:ink free; 

}
h3 {
   color:white; 
   font-size:16px;
   font-family:ink free;
}
h4  {
   color:white;
   font-size:14px;
   font-family:ink free;
}
p {
   color:green;
   font-size:12px;
   font-family:ink free;
}
a {
   color:green;
   font-size:12px;
   font-family:ink free;
}
li {
   color:green;
   font-size:12px;
   font-family:ink free; 
}
ul {
   color:green;
   font-size:12px;
   font-family:ink free;
   list-style-type:circle;
   list-style-position:middle;
}
ol {  
   color:green;
   font-size:12px;
   font-family:ink free;
   list-style-type: lower-roman; 
   list-style-position: inside;
}
div {
   border:2px;
   width:100px;
   border-style:dotted;
   color:white;
 }

